@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0e;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.glow-shadow {
  box-shadow: 0 0 15px rgba(0, 212, 255, 0.1);
}

input:focus {
  outline: none;
  border-color: #00d4ff;
  box-shadow: 0 0 0 2px rgba(0, 212, 255, 0.2);
}
